---
http_interactions:
- request:
    method: post
    uri: https://api.dhan.co/v2/marketfeed/ltp
    body:
      encoding: UTF-8
      string: '{"NSE_EQ":[11536]}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHANHQ_ACCESS_TOKEN>"
      Client-Id:
      - "<DHANHQ_CLIENT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"NSE_EQ":{"11536":{"last_price":3191.9}}},"status":"success"}'
  recorded_at: Thu, 11 Dec 2025 18:32:49 GMT
- request:
    method: post
    uri: https://api.dhan.co/v2/marketfeed/ltp
    body:
      encoding: UTF-8
      string: '{"NSE_EQ":[11536]}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - "<DHANHQ_ACCESS_TOKEN>"
      Client-Id:
      - "<DHANHQ_CLIENT_ID>"
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"805":"Too many requests. Further requests may result in the
        user being blocked."},"status":"failed"}'
  recorded_at: Thu, 11 Dec 2025 18:32:49 GMT
recorded_with: VCR 6.3.1
